
/*Import Font*/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(http://themes.googleusercontent.com/static/fonts/lato/v6/nQhiC-wSiJx0pvEuJl8d8A.eot);
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/nQhiC-wSiJx0pvEuJl8d8A.eot) format('embedded-opentype'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(http://themes.googleusercontent.com/static/fonts/lato/v6/sBtfDPlEIwvKKU53nAG7AQ.eot);
  src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/sBtfDPlEIwvKKU53nAG7AQ.eot) format('embedded-opentype'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot);
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot) format('embedded-opentype'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHZ2MAKAc2x4R1uOSeegc5U.eot);
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHZ2MAKAc2x4R1uOSeegc5U.eot) format('embedded-opentype'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXZ2MAKAc2x4R1uOSeegc5U.eot);
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXZ2MAKAc2x4R1uOSeegc5U.eot) format('embedded-opentype'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

/*End Import Font */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
{
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
:focus
{/* remember to define focus styles! */
  outline: 0;
}
strong
{
  font-weight: bold;
}
/* remove border around images in IE8/IE9 */
img
{
  border-style: none;
  vertical-align: top;
}
/* Extra styles for alignment of images. By: http://line25.com/tutorials/how-to-create-your-own-custom-wordpress-theme
----------------*/
.centered
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.alignright
{
  float: right;
  margin-left: 15px;
}
.alignleft
{
  float: left;
  margin-right: 15px;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******************** CONTENT STYLE *************************/
.mceContentBody 
{
	font-family: 'Open Sans', sans-serif;
	color:#3d3d3d;
	font-size: 14px;  
	font-weight:400;	
	background-image: url('../images/bg.png');
}
.mceContentBody h1
{
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	font-weight:700;		
}
.mceContentBody h2
{
	font-family: 'Open Sans', sans-serif;
	font-size: 29px;
	font-weight:700;	
}
.mceContentBody h3
{
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;	
	font-weight:700;	
}
.mceContentBody h4
{
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;	
	font-weight:300;
}
.mceContentBody h5
{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;	
	font-weight:700;
}
.mceContentBody h6
{
	font-family: 'Lato', sans-serif;
	font-size: 13px;	
	font-weight:700;
	color:white;
}
.mceContentBody p
{
  margin: 10px 0px;
}
.mceContentBody a,
.mceContentBody a:visited,
.mceContentBody a:active,
.mceContentBody a:link
{
  color: inherit;
  text-decoration: none;
}

div, span, a, ul, li, input,textarea{
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}

.row{
	margin: 0px;
}

.container-fluid, .container{
	width: 1120px;
}

.animate{
	transition: 400ms ease-in;
	-webkit-transition: 400ms ease-in;
	-o-transition: 400msease-in;
	-moz-transition: 400ms ease-in;
}

.animate:hover{
	transition: 400ms ease-out;
	-webkit-transition: 400ms ease-out;
	-o-transition: 400msease-out;
	-moz-transition: 400ms ease-out;
}

.margin-top{
	margin-top: 60px;
}

.no-padding{
	padding: 0px;
}
/*** HEADER ***/

	/* navigation */
	.navbar-default{
		background: #1a1f23;
		color: #fff;
	}

	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
		color: #fff;
		background-color: #2a7bc0;
	}
	.navbar-nav>li>a, .dropdown-menu>li>a{
		transition: 300ms ease-in;
		-webkit-transition: 300ms ease-in;
		-o-transition: 300ms ease-in;
		-moz-transition: 300ms ease-in;
	}


	.navbar-default .navbar-nav>li>a {
		color: #fff;
	}

	.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
		color: #fff;
		background-color: #2a7bc0;

	}

	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
		color: #fff;
		background-color: #2a7bc0;	
	}


	.navbar-nav>li>a:hover, .dropdown-menu>li>a:hover{
		transition: 300ms ease-out;
		-webkit-transition: 300ms ease-out;
		-o-transition: 300ms ease-out;
		-moz-transition: 300ms ease-out;		
	}

	.dropdown-menu{
		background: #1a1f23;
		color: #fff;
	}

	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
		color: #CEC7C7;
		background-color: #f6f6f6;			
	}

	.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{
		max-height: auto;
	}

	.social-media a {
		padding: 5px 10px!important;
	}

	.social-media a:hover {
		background:none!important;
	}
	/* navigation */




/*** HEADER ***/


/*** FOOTER ***/

.footer{
	margin-top: 15px;
	background: #1a1f23;
	color: #fff;
	padding-bottom: 15px;
}

.footer p{
	padding: 15px;
	margin: 0px
}

.footer-menu li{
	display: inline-block;
	padding: 15px;
	padding-bottom: 5px;
}

.contact-menu li{
}

/*** FOOTER ***/


/*** SCREEN RESOLUTION ***/
@media only screen and (max-width: 978px){

}

@media only screen and (max-width: 740px){

	.container-fluid, .container{
		width:100%;
	}

	.margin-top{
		margin-top: 170px;
	}

	.navbar-nav .open .dropdown-menu{
		color: #fff;
		background-color: #1a1f23;		
	}
	.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{
		max-height: 100%;
	}

	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus{
		color: #fff;
		background-color: #2a7bc0;	
	}

	.navbar-header .form-group{
		padding: 0px 15px;
	}

	.button-search button{
		width:100%;
	}

}

/*** SCREEN RESOLUTION ***/